*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pem
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.so
*.spec
*.tsbuildinfo
*$py.class
.abstra/
.cache
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.DS_Store
.eggs/
.env
.env.local
.envrc
.hypothesis/
.installed.cfg
.mypy_cache/
.next/
.nox/
.pdm-build/
.pdm-python
.pixi
.pnp
.pnp.*
.pyre/
.pytest_cache/
.pypirc
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.vercel
.venv
.vscode/
.webassets-cache
.yarn/*
/build
/coverage
/node_modules
/out/
/site
__marimo__/
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env/
ENV/
env.bak/
htmlcov/
instance/
.ipynb_checkpoints
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
next-env.d.ts
nosetests.xml
npm-debug.log*
parts/
pip-delete-this-directory.txt
pip-log.txt
.pnpm-debug.log*
profile_default/
ipython_config.py
.pybuilder/
.Python
sdist/
share/python-wheels/
target/
var/
venv/
venv.bak/
wheels/
yarn-debug.log*
yarn-error.log*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions